/* Grid */
section {
  padding: 0px 5em 0px 5em;
}

.event-info {
  display: grid;
  grid-template-columns: repeat(8, [col] 1fr);
  grid-template-rows: minmax(32px, auto);
  grid-gap: 3em;
  padding: 168px 0em 32px 0em;
}

.event-info-item {
  grid-column: span 4;
  grid-row: 1;
}

.formgrid-container {
  display: grid;
  grid-template-columns: repeat(8, [col] 1fr);
  grid-template-rows: [row] auto;
  grid-gap: 3em;
  padding: 32px 0em 0px 0em;
}

.formgrid-item {
  grid-column: span 4;
  grid-row: auto;
  min-height: 5vh;
}

.formgrid-item-full {
  grid-column: span 8;
  grid-row: auto;
  min-height: 5vh;
}

.formgrid-item-short {
  grid-column: span 2;
  grid-row: auto;
  min-height: 5vh;
}

.formgrid-upload {
  grid-column: span 8;
  grid-row: auto;
  min-height: 5vh;
}

.formgrid-textbox {
  grid-column: span 8;
  grid-row: auto;
  min-height: 5vh;
}


.alertbox {
  display: grid;
  grid-template-columns: repeat(8, [col] 1fr);
  grid-template-rows: [row] auto;
  padding: 32px 0em 0px 0em;
}

.alertbox .alert {
  grid-column: span 8;
  grid-row: 1;
  min-height: 1vh;
  background-color: #fff4f4;
  border: 1px solid #f00;
  padding: .25em;
  display: inline-flex;
}

.alertbox .alert button {
  background-color: transparent;
  border: 2px solid brown; 
  color: brown;
  text-decoration: none;
  padding: 2px 5px;
  margin: 0; 
  margin-left: auto !important;
  cursor: pointer;
}

.alertbox .alert-danger .alertmessage:before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 5px;
  color: brown;
  content: "\f071";
}

input[type=text], input[type=password], input[type=email], textarea {
  background: none;
  width: 100%;
  height: 3em;
  padding: 0px 0px 0px 0px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

input[type=date] {
  background: none;
  width: 100%;
  height: 3em;
  padding: 0px 0px 0px 0px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=checkbox] {
  margin-right: 10px;
  outline: none;
  -moz-border-radius: 0%;
  -webkit-border-radius: 0%;
  border-radius: 0%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #000;
  vertical-align: middle;
}

input[type=checkbox]:checked {
  background-color: #181818;
  border: #181818;
  border: 1px solid #000000;
  outline: none;
}

select {
  background: none;
  width: 100%;
  height: 3em;
  padding: 0px 0px 0px 0px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

input[type=button], [type=hidden] input[type=submit], input[type=reset] {
  background-color: #FFFFFF;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button {
  background-color: #FFFFFF;
  border: 2px solid #181818;
  color: #000000;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px 2px 0px;
  cursor: pointer;
}

button:hover {
  background-color: #181818;
  color: #ffffff;
}

textarea {
  outline: none;
  border: none;
  resize: none;
  background: none;
  width: 100%;
  padding: 0px 0px 0px 0px;
  border-radius: 0px;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  font-size: 1em;
  line-height: normal;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

textarea:focus, input:focus, select:focus {
  border-bottom: 1px solid #000000;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1;
}
::-ms-input-placeholder { /* IE 10+ */
  color: black;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 18- */
  color: black;
  opacity: 1;
}


label[class="form-check-label"], [class="custom-file-label"] {
    color: #000000;
    font-size: 1em;
}

label {
    color: #5E5E5E;
    font-size: 0.8em;
}



@media only screen and (max-width: 1169px) {
  /*Basic style */
section {
  padding: 0em 1em 0em 1em;
}
  
  /* Form */
  .event-info {
  display: grid;
  grid-template-columns: [col] 1fr;
  grid-template-rows: minmax(32px, auto);
  grid-gap: 3em;
  padding: 168px 0em 32px 0em;
}

.event-info-item {
  grid-column: span 1;
  grid-row: 1;
}

.formgrid-container {
  display: grid;
  grid-template-columns: [col] 1fr;
  grid-template-rows: [row] auto;
  grid-gap: 3em;
  padding: 32px 0em 0px 0em;
}

.formgrid-item {
  grid-column: span 1;
  grid-row: auto;
  min-height: 5vh;
}

.formgrid-item-full {
  grid-column: span 1;
  grid-row: auto;
  min-height: 5vh;
}

.formgrid-item-short {
  grid-column: span 1;
  grid-row: auto;
  min-height: 5vh;
}

.formgrid-upload {
  grid-column: span 1;
  grid-row: auto;
  min-height: 5vh;
}

.formgrid-textbox {
  grid-column: span 1;
  grid-row: auto;
  min-height: 5vh;
}
}
