{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>{% trans "Register event" %}</title>
    <link rel="icon" sizes="any" type="image/svg+xml" href="{% static "img/logo.svg" %}">
    {% block addjs %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <div id="main-navigation">
                <div id="logo"><a href="/"><img src="{% static "img/CVJM_Logo.png" %}" width="131" height="54" alt="CVJM"></a>
                </div>
                <div class="main-nav-links hover-item">
                    <ul>
                        <a href="/">{% trans "Home page" %}</a>
                        <a href="mailto:info@konficastle.org?subject=Anmeldung%20Konfi-Castle">{% trans "Contact" %}</a>
                    </ul>
                </div>
                <div id="mobile-menu">
                    <input type="checkbox" id="overlay-input" />
                    <label for="overlay-input" id="overlay-button"><span></span></label>
                    <div id="overlay">
                        <ul>
                            <li><a href="/">{% trans "Home page" %}</a></li>
                            <li><a href="mailto:info@konficastle.org?subject=Anmeldung%20Konfi-Castle">{% trans "Contact" %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-content">
    {% block content %}{% endblock %}
    </div>

    <footer>
        <div id="footer" class="hover-item">
            <div class="footer-copyright">
                <p>© 2000 - 2024 {{ MAIN_ORGANIZER_NAME }} | <a
                        href="{{ URL_IMPRINT }}" target="_blank"
                        rel="noopener noreferrer">{% trans "Imprint" %}</a> | <a
                        href="{{ URL_PRIVACY_POLICY }}" target="_blank"
                        rel="noopener noreferrer">{% trans "Privacy policy & Cookies" %}</a> | 
                        <a href="/admin/">{% trans "Intern" %}</a></p>
            </div>
        </div>
    </footer>
</body>

</html>
