{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmeldung Konfi-Castle</title>
    <link rel="stylesheet" href="{% static "css/cvjm.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/SourceSansPro.css" %}" />
    <link rel="stylesheet" href="{% static "css/Awesome.css" %}" />
    <link rel="shortcut icon" href="{% static "img/icons/favicon.ico" %}">
</head>

<body>
    <header>
        <nav>
            <div id="main-navigation">
    <div id="logo"><a href="#"><img src="{% static "img/CVJM_Logo.png" %}" width="131" height="54" alt="CVJM"></a>
    </div>
    <div class="main-nav-links hover-item">
        <ul>
            <a href="#">Startseite</a>
            <a href="mailto:info@konficastle.org?subject=Anmeldung%20Konfi-Castle">Kontakt</a>
        </ul>
    </div>

    <div id="mobile-menu">
        <input type="checkbox" id="overlay-input" />
        <label for="overlay-input" id="overlay-button"><span></span></label>
        <div id="overlay">
            <ul>
                <li><a href="#">Startseite</a></li>
                <li><a href="mailto:info@konficastle.org?subject=Anmeldung%20Konfi-Castle">Kontakt</a></li>
            </ul>
        </div>
    </div>
    </div>
    </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div id="footer" class="hover-item">
            <div class="footer-copyright">
                <p>© 2000 - 2020 CVJM Kreisverband Rhein-Lahn e. V. | <a
                        href="https://cvjm-rhein-lahn.de/Willkommen/Impressum.html" target="_blank"
                        rel="noopener noreferrer">Impressum</a> | <a
                        href="https://cvjm-rhein-lahn.de/Willkommen/Datenschutz.html" target="_blank"
                        rel="noopener noreferrer">Datenschutzerkl&auml;rung &amp; Cookies</a></p>
            </div>
        </div>
    </footer>

    <script src="{% static "js/jquery-3.2.1.slim.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    </body>

</html>
