{% load i18n %}
<div class="form-stepper">
    <ol class="justify-center">
      <li class="form-step-begin {% if step > 1 %}alert-box-success{%elif step == 1%}{% if kfh.form.errors or kfh.formReg.errors %}alert-box-error{% else %}alert-box-info{%endif%}{%endif%} items-center">
        <span class="form-stepper-counter flex items-center justify-center w-5 h-5 me-2 text-xs border rounded-full shrink-0">
          1
        </span>
        <span>{% trans "Fill form" %}</span>
        {% if step > 1 %}<span>✓</span>{%endif%}
      </li>
      <li class="form-step {% if step > 2 %}alert-box-success{%elif step == 2%}alert-box-info{% else %}form-stepper-pending{% endif %} items-center">
        <span class="form-stepper-counter flex items-center justify-center w-5 h-5 me-2 text-xs border rounded-full shrink-0">
          2
        </span>
        <span>{% trans "Review data" %}</span>
        {% if step > 2 %}<span>✓</span>{%endif%}
      </li>
      <li class="form-step-end {% if step >= 3 %}alert-box-success{% else %}form-stepper-pending{% endif %} items-center">
        <span class="form-stepper-counter flex items-center justify-center w-5 h-5 me-2 text-xs border rounded-full shrink-0">
          3
        </span>
        <span>{% trans "Registration completed" %}</span>
        {% if step >= 3 %}<span>✓</span>{%endif%}
      </li>
    </ol>
  </div>