{% extends "cvjm/base.html" %}

{% block content %}
<div class="container">
  <div class="item-1">
    <h1>Anmeldung {{ evt.name }}</h1>
    <p>Bitte geben Sie das Passwort aus den Anmeldeunterlagen ein.</p>
  </div>
</div>

<form action="{{ loginUrl }}" method="post">
  {% csrf_token %}
  <div class="formgrid-container">
    {% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show">
      {{ error_message }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="formgrid-1">
      <input id="kcevnt-password" name="password" type="password" class="form-control" placeholder="Kennwort" />
      <!--<label for="kcevnt-password">Kennwort*</label>-->
      <input type="hidden" name="next" value="{{next}}" />
      <button name="login" type="submit" class="btn btn-primary">Absenden</button>
    </div>
  </div>
</form>

{% endblock %}