{% extends "cvjm/base.html" %}

{% block content %}

<section>
  <div class="event-info">
    <div class="event-info-item hover-item">
      <h2>Anmeldung <br> {{ evt.name }}</h2>
      <p>Bitte geben Sie / bitte gib das Passwort aus den Anmeldeunterlagen ein.</p>
      <p>Zur Anmeldung wird die ausgefüllte schriftliche Anmeldung zu Konfi-Castle
        aus dem Konfirmandenunterricht, der ausgefüllte Freizeitpass und
        gegebenenfalls die Medikamentenabgabe benötigt. Alternativ können diese
        Dateien von der Seite <a href="https://dl.konficastle.org/">https://dl.konficastle.org/</a>
        heruntergeladen werden.</p>
    </div>
  </div>
</section>

<section>
  <form class="formgrid-item" action="{{ loginUrl }}" method="post">
    {% csrf_token %}
    {% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show">
      {{ error_message }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div class="formgrid-container">
      <div class="formgrid-item-full">
        <input id="kcevnt-password" name="password" type="password" class="form-control" placeholder="Kennwort">
        <input type="hidden" name="next" value="{{next}}">
        <button name="login" type="submit" class="btn btn-primary">Absenden</button>
      </div>
    </div>

  </form>
</section>


{% endblock %}