{% extends "cvjm/base.html" %}
{% load formclass %}

{% block content %}

<section>
  <div class="event-info">
    <div class="event-info-item">
      <h2>Anmeldung &Uuml;bersicht<br> {{ evt.name }}</h2>
      <p>Bitte überprüfen Sie / überprüfe sorgfältig Ihre / Deine Angaben zur
        Anmeldung zum {{ evt.name }}. Sofern alle Angaben korrekt sind,
        bestätigen Sie / bestätige bitte die Anmeldung. Teilnehmende Konfirmanden
        und Reloadeds geben zudem die schriftliche Anmeldung zeitnah im
        Konfirmationsunterricht Ihrer Kirchengemeinde ab.</p>
    </div>
  </div>
</section>

<section>
  <form action="{{ registerUrl }}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <div class="formgrid-container">
      <div class="formgrid-item-full">
        <h5>Kirchengemeinde:</h5>
        <p>{{partner.name}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>Funktion:</h5>
        <p>{{kfh.form.instance.get_role_display}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>Vorname Nachname:</h5>
        <p>{{kfh.form.first_name.value}} {{kfh.form.last_name.value}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>Geschlecht:</h5>
        <p>{{kfh.form.instance.get_gender_display}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>Geburtstag:</h5>
        <p>{{kfh.form.birthday.value}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>Anschrift:</h5>
        <p>{{kfh.form.street.value}} {{kfh.form.house_number.value}}<br />{{kfh.form.zip_code.value}}
          {{kfh.form.city.value}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>E-Mail:</h5>
        <p>{{kfh.form.mail_addr.value}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>Telefon:</h5>
        <p>{{kfh.form.phone.value}}</p>
      </div>

      {% if evt.onSiteAttendance %}
      <div class="formgrid-item-full">
        <h5>Allergien / Unvertr&auml;glichkeiten:</h5>
        <p>{{kfh.form.intolerances.value}}</p>
      </div>
      {% endif %}

      {% if evt.requireDocuments %}
      <div class="formgrid-item-full">
        <h5>Anmeldung Freizeit:</h5>
        <p>{{kfh.formReg.reg_doc_consent.value|default:"<i>Nicht bereitgestellt.</i>"}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>Freizeitpass:</h5>
        <p>{{kfh.formReg.reg_doc_pass.value|default:"<i>Nicht bereitgestellt.</i>"}}</p>
      </div>
      {% endif %}
      
      {% if evt.onSiteAttendance %}
      <div class="formgrid-item-full">
        <h5>Medikamentenabgabe:</h5>
        <p>{{kfh.formReg.reg_doc_meddispense.value|default:"<i>Nicht bereitgestellt.</i>"}}</p>
      </div>
      {% endif %}

      <div class="formgrid-item-full">
        <h5>Sonstige Mitteilungen:</h5>
        <p>{{kfh.formReg.reg_notes.value}}</p>
      </div>

      {% if evt.onSiteAttendance %}
      <div class="formgrid-item-full">
        <h5>Ern&auml;hrung:</h5>
        <p>{{kfh.form.instance.get_nutrition_display}} <br>
          {% if kfh.form.lactose_intolerance.value %}Laktoseintoleranz{% endif %} <br>
          {% if kfh.form.celiac_disease.value %}Z&ouml;liakie{% endif %}</p>
      </div>
      {% endif %}

      <div class="formgrid-item-full">
        <h5>Best&auml;tigung:</h5>
        <p>Hiermit melde ich mein Kind / mich zu Konfi-Castle im CVJM Kreisverband Rhein-Lahn e. V. an. Die Teilnahme ist damit verbindlich.</p>
      </div>

      <div class="formgrid-item-full">
        <input type="hidden" name="_fghash" value="{{ kfh.formHash }}" />
        <input type="hidden" name="_fgstage" value="confirm" />
        <button name="edit" type="submit" class="btn btn-primary">Bearbeiten</button>
        <button name="confirm" type="submit" class="btn btn-primary">Best&auml;tigen</button>
      </div>
    </div>
  </form>
</section>

{% endblock %}
