{% extends "cvjm/base.html" %}
{% load static %}
{% load i18n %}
{% load formclass %}
{% load formutils %}

{% block content %}
{% include "cvjm/comp-stepper.html" with kfh=kfh step=1 %}

<section>
  <div class="event-info">
    <div class="event-info-item">
      {% if evt.formIntroduction.subject %}
      <h2>{{evt.formIntroduction.subject}}</h2>
      <p>{{evt.formIntroduction.content}}</p>
      {% else %}
      <h2>{{evt.name}}</h2>
      {% endif %}
    </div>
  </div>
</section>

{% if evt.display_event_info %}
<section class="event-meta-info">
  <div class="event-meta-info">
    <h3>{% trans "Event" %}</h3>
    <div class="event-meta-appointment">
      <h4>{% trans "Appointment" %}</h4>
      <div class="event-meta-line">{{ evt.start_date | date:"d.m.Y"}} - {{ evt.end_date | date:"d.m.Y" }}</div>
    </div>
    {% if evt.location %}
    <div class="event-meta-location">
      <h4>{% trans "Event location" %}</h4>
      <div class="event-meta-line">{{ evt.location.name }}</div>
      <div class="event-meta-line">{{ evt.location.address_line_2 }}</div>
      <div class="event-meta-line">{{ evt.location.address_line_3 }}</div>
      <div class="event-meta-line">{{ evt.location.street }} {{ evt.location.house_number }}</div>
      <div class="event-meta-line">{{ evt.location.zip_code }} {{ evt.location.city }}</div>
      <div class="event-meta-line">{{ evt.location.mail_addr }}</div>
      <div class="event-meta-line">{{ evt.location.website }}</div>
    </div>
    {% endif %}
    <div class="event-meta-organizer">
      <h4>{% trans "Event host" %}</h4>
      <div class="event-meta-line">{{ evt.host.name }}</div>
      <div class="event-meta-line">{{ evt.host.address_line_2 }}</div>
      <div class="event-meta-line">{{ evt.host.address_line_3 }}</div>
      <div class="event-meta-line">{{ evt.host.street }} {{ evt.host.house_number }}</div>
      <div class="event-meta-line">{{ evt.host.zip_code }} {{ evt.host.city }}</div>
      <div class="event-meta-line">{{ evt.host.mail_addr }}</div>
      <div class="event-meta-line">{{ evt.host.website }}</div>
    </div>
  </div>
</section>
{% endif %}

<section>
  <h3>{% trans "Registration" %}</h3>
  {% if kfh.form.errors or kfh.formReg.errors %}
    {% with form_error=kfh.form.non_field_errors|combine_list:kfh.formReg.non_field_errors %}
    {% trans "Error occurred during validation of registration form. Please fix and re-submit." as genericMessage %}
    {% include "cvjm/comp-alert.html" with chkdsp=True message=genericMessage message_list=form_error type="error" %}
    {% endwith %}
  {% endif %}
  <form action="{{ registerUrl }}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <div class="formgrid-container">
      <div class="formgrid-item {% if kfh.form.church.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.church.errors message=kfh.form.church.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.church|addclass:'custom-select' }}
        <label for="{{ kfh.form.church.id_for_label }}">{% trans "Church/Organisation" %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.role.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.role.errors message=kfh.form.role.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.role|addclass:'custom-select' }}
        <label for="{{ kfh.form.role.id_for_label }}">{% trans "Role" %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.first_name.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.first_name.errors message=kfh.form.first_name.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.first_name|addclass:'form-control' }}
        <label for="{{ kfh.form.first_name.id_for_label }}">{% trans "First name" %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.last_name.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.last_name.errors message=kfh.form.last_name.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.last_name|addclass:'form-control' }}
        <label for="{{ kfh.form.last_name.id_for_label }}">{% trans "Surname" %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.gender.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.gender.errors message=kfh.form.gender.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.gender|addclass:'custom-select' }}
        <label for="{{ kfh.form.gender.id_for_label }}">{% trans "Gender" %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.birthday.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.birthday.errors message=kfh.form.birthday.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.birthday|addclass:'form-control' }}
        <label for="{{ kfh.form.birthday.id_for_label }}">{% trans "Birthday" %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.street.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.street.errors message=kfh.form.street.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.street|addclass:'form-control' }}
        <label for="{{ kfh.form.street.id_for_label }}">{% trans "Street" %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.house_number.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.house_number.errors message=kfh.form.house_number.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.house_number|addclass:'form-control' }}
        <label for="{{ kfh.form.house_number.id_for_label }}">{% trans "House no." %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.zip_code.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.zip_code.errors message=kfh.form.zip_code.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.zip_code|addclass:'form-control' }}
        <label for="{{ kfh.form.zip_code.id_for_label }}">{% trans "Postal code" %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.city.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.city.errors message=kfh.form.city.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.city|addclass:'form-control' }}
        <label for="{{ kfh.form.city.id_for_label }}">{% trans "City" %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.mail_addr.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.mail_addr.errors message=kfh.form.mail_addr.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.mail_addr|addclass:'form-control' }}
        <label for="{{ kfh.form.mail_addr.id_for_label }}">{% trans "Mail address" %}*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.phone.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.phone.errors message=kfh.form.phone.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.phone|addclass:'form-control' }}
        <label for="{{ kfh.form.phone.id_for_label }}">{% trans "Phone" %}*</label>
      </div>

      {% if evt.onSiteAttendance %}
      <div class="formgrid-textbox {% if kfh.form.intolerances.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.intolerances.errors message=kfh.form.intolerances.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.intolerances|addclass:'form-control' }}
        <label for="{{ kfh.form.intolerances.id_for_label }}">{% trans "Allergies / intolerances" %}</label>
      </div>
      {% endif %}

      <div class="formgrid-textbox {% if kfh.formReg.reg_notes.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_notes.errors message=kfh.formReg.reg_notes.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.formReg.reg_notes|addclass:'form-control' }}
        <label for="{{ kfh.formReg.reg_notes.id_for_label }}">{% trans "Other communications" %}</label>
      </div>

      {% if evt.onSiteAttendance %}
      <div class="formgrid-item-short {% if kfh.form.nutrition.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.nutrition.errors message=kfh.form.nutrition.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.nutrition|addclass:'custom-select' }}
        <label for="{{ kfh.form.nutrition.id_for_label }}">{% trans "Nutrition" %}*</label>
      </div>

      <div class="formgrid-item-short {% if kfh.form.lactose_intolerance.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.lactose_intolerance.errors message=kfh.form.lactose_intolerance.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.lactose_intolerance|addclass:'form-check-input' }}
        <label class="form-check-label" for="{{ kfh.form.lactose_intolerance.id_for_label }}">{% trans "Lactose intolerance" %}</label>
      </div>

      <div class="formgrid-item-short {% if kfh.form.celiac_disease.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.celiac_disease.errors message=kfh.form.celiac_disease.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.form.celiac_disease|addclass:'form-check-input' }}
        <label class="form-check-label" for="{{ kfh.form.celiac_disease.id_for_label }}">{% trans "Celiac disease" %}</label>
      </div>
      {% endif %}

      {% if evt.requireDocuments %}
      <div class="formgrid-upload {% if kfh.formReg.reg_doc_consent.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_doc_consent.errors message=kfh.formReg.reg_doc_consent.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.formReg.reg_doc_consent|addclass:'custom-file-input' }}
        <label for="{{ kfh.formReg.reg_doc_consent.id_for_label }}" class="custom-file-label">Anmeldung Freizeit*
          (Einladung & Anmeldung Konficastle aus dem Konfirmationsunterricht)</label>
      </div>

      <div class="formgrid-upload {% if kfh.formReg.reg_doc_pass.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_doc_pass.errors message=kfh.formReg.reg_doc_pass.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.formReg.reg_doc_pass|addclass:'custom-file-input' }}
        <label for="{{ kfh.formReg.reg_doc_pass.id_for_label }}" class="custom-file-label">{% trans "Event passport" %}*</label>
      </div>

      {% if evt.onSiteAttendance %}
      <div class="formgrid-upload {% if kfh.formReg.reg_doc_meddispense.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_doc_meddispense.errors message=kfh.formReg.reg_doc_meddispense.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.formReg.reg_doc_meddispense|addclass:'custom-file-input' }}
        <label for="{{ kfh.formReg.reg_doc_meddispense.id_for_label }}" class="custom-file-label">{% trans "Medical dispense" %}</label>
      </div>
      {% endif %}
      {% endif %}

      <div
        class="formgrid-item-full {% if kfh.formReg.reg_consent.errors or kfh.formReg.reg_consent_privacy.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_consent_privacy.errors message=kfh.formReg.reg_consent_privacy.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.formReg.reg_consent_privacy|addclass:'form-check-input' }}
        <label class="form-check-label" for="{{ kfh.formReg.reg_consent_privacy.id_for_label }}">
          {% blocktranslate with url_privacy_policy=URL_PRIVACY_POLICY trimmed %}
          I agree to the <a href="{{ url_privacy_policy }}" target="_blank">privacy policy</a>.
          {% endblocktranslate %}*
        </label><br />
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_consent.errors message=kfh.formReg.reg_consent.errors type="error" small=True %}
        {% include "cvjm/comp-mandatory.html" %}
        {{ kfh.formReg.reg_consent|addclass:'form-check-input' }}
        <label class="form-check-label" for="{{ kfh.formReg.reg_consent.id_for_label }}">
          {% blocktranslate with event_name=evt.name organizer=evt.host.name trimmed %}
          I hereby register my child / myself for event {{ event_name }} of host {{ organizer }}. Participation is binding.
          {% endblocktranslate %}*
        </label>
      </div>

      <div class="formgrid-item-full">
        <p>{% blocktranslate trimmed %}
          After a click on the button "Register", a summary is shown about all given registration information.
          Please review the given information carefully. Further modifications to the registration is still possible at
          that time.
          {% endblocktranslate %}
        </p>
      </div>

      <div class="formgrid-item-full">
        <input type="hidden" name="_fghash" value="{{ kfh.formHash }}" />
        <input type="hidden" name="_fgstage" value="preview" />
        <button id="form-btn-submit" name="register" type="submit" class="btn-form-submit btn btn-primary  w-max-20em">{% trans "Register" %}</button>
      </div>
    </div>
  </form>
</section>
<script type="text/javascript" src="{% static "js/form.js" %}?version=20241031202700"></script>

{% endblock %}