{% extends "cvjm/base.html" %}
{% load i18n %}
{% load formclass %}

{% block content %}

<section>
  <div class="event-info">
    <div class="event-info-item">
      <h2>Anmeldung &Uuml;bersicht<br> {{ evt.name }}</h2>
      <p>{% blocktranslate with event_name=evt.name organizer=evt.host.name trimmed %}
        Please check your registration details for the event {{ event_name }} carefully.
        If all the details are correct, please confirm your registration by clicking on 
        the button "Confirm binding registration".
        {% endblocktranslate %}
      </p>
      {% if evt.formStatementOverview.content %}
      <p>{{evt.formStatementOverview.content}}</p>
      {% endif %}
    </div>
  </div>
</section>

<section class="event-meta-info">
  <div class="event-meta-info">
    <h3>{% trans "Event" %}</h3>
    <div class="event-meta-appointment">
      <h4>{% trans "Appointment" %}</h4>
      <div class="event-meta-line">{{ evt.start_date | date:"d.m.Y"}} - {{ evt.end_date | date:"d.m.Y" }}</div>
    </div>
    {% if evt.location %}
    <div class="event-meta-location">
      <h4>{% trans "Event location" %}</h4>
      <div class="event-meta-line">{{ evt.location.name }}</div>
      <div class="event-meta-line">{{ evt.location.address_line_2 }}</div>
      <div class="event-meta-line">{{ evt.location.address_line_3 }}</div>
      <div class="event-meta-line">{{ evt.location.street }} {{ evt.location.house_number }}</div>
      <div class="event-meta-line">{{ evt.location.zip_code }} {{ evt.location.city }}</div>
      <div class="event-meta-line">{{ evt.location.mail_addr }}</div>
      <div class="event-meta-line">{{ evt.location.website }}</div>
    </div>
    {% endif %}
    <div class="event-meta-organizer">
      <h4>{% trans "Event host" %}</h4>
      <div class="event-meta-line">{{ evt.host.name }}</div>
      <div class="event-meta-line">{{ evt.host.address_line_2 }}</div>
      <div class="event-meta-line">{{ evt.host.address_line_3 }}</div>
      <div class="event-meta-line">{{ evt.host.street }} {{ evt.host.house_number }}</div>
      <div class="event-meta-line">{{ evt.host.zip_code }} {{ evt.host.city }}</div>
      <div class="event-meta-line">{{ evt.host.mail_addr }}</div>
      <div class="event-meta-line">{{ evt.host.website }}</div>
    </div>
  </div>
</section>

<section>
  <h3>{% trans "Registration" %}</h3>
  {% if kfh.form.errors or kfh.formReg.errors %}
    {% trans "Error occurred during validation of registration form. Please fix and re-submit." as genericMessage %}
    {% include "cvjm/comp-alert.html" with chkdsp=True message=genericMessage type="error" %}
  {% endif %}

  {{ kfh.form.non_field_errors }}
  {{ kfh.formReg.non_field_errors }}
  <form action="{{ registerUrl }}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <div class="formgrid-container">
      <div class="formgrid-item-full">
        <h5>{% trans "Church/Organisation" %}:</h5>
        <p>
          <div class="event-meta-line">{{ partner.name }}</div>
          <div class="event-meta-line">{{ partner.address_line_2 }}</div>
          <div class="event-meta-line">{{ partner.address_line_3 }}</div>
          <div class="event-meta-line">{{ partner.street }} {{ partner.house_number }}</div>
          <div class="event-meta-line">{{ partner.zip_code }} {{ partner.city }}</div>
          <div class="event-meta-line">{{ partner.mail_addr }}</div>
          <div class="event-meta-line">{{ partner.website }}</div>
        </p>
      </div>

      <div class="formgrid-item-full">
        <h5>{% trans "Role" %}:</h5>
        <p>{{kfh.form.instance.get_role_display}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>{% trans "Name" %}:</h5>
        <p>{{kfh.form.first_name.value}} {{kfh.form.last_name.value}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>{% trans "Gender" %}:</h5>
        <p>{{kfh.form.instance.get_gender_display}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>{% trans "Birthday" %}:</h5>
        <p>{{kfh.form.birthday.value}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>{% trans "Address" %}:</h5>
        <p>{{kfh.form.street.value}} {{kfh.form.house_number.value}}<br />{{kfh.form.zip_code.value}}
          {{kfh.form.city.value}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>{% trans "Mail address" %}:</h5>
        <p>{{kfh.form.mail_addr.value}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>{% trans "Phone" %}:</h5>
        <p>{{kfh.form.phone.value}}</p>
      </div>

      {% if evt.onSiteAttendance %}
      <div class="formgrid-item-full">
        <h5>{% trans "Allergies / intolerances" %}:</h5>
        <p>{{kfh.form.intolerances.value}}</p>
      </div>
      {% endif %}

      {% if evt.requireDocuments %}
      <div class="formgrid-item-full">
        <h5>Anmeldung Freizeit:</h5>
        <p>{{kfh.formReg.reg_doc_consent.value|default:"<i>Nicht bereitgestellt.</i>"}}</p>
      </div>

      <div class="formgrid-item-full">
        <h5>Freizeitpass:</h5>
        <p>{{kfh.formReg.reg_doc_pass.value|default:"<i>Nicht bereitgestellt.</i>"}}</p>
      </div>
      
      {% if evt.onSiteAttendance %}
      <div class="formgrid-item-full">
        <h5>Medikamentenabgabe:</h5>
        <p>{{kfh.formReg.reg_doc_meddispense.value|default:"<i>Nicht bereitgestellt.</i>"}}</p>
      </div>
      {% endif %}
      {% endif %}

      <div class="formgrid-item-full">
        <h5>{% trans "Other communications" %}:</h5>
        <p>{{kfh.formReg.reg_notes.value}}</p>
      </div>

      {% if evt.onSiteAttendance %}
      <div class="formgrid-item-full">
        <h5>{% trans "Nutrition" %}:</h5>
        <p>{{kfh.form.instance.get_nutrition_display}} <br>
          {% if kfh.form.lactose_intolerance.value %}{% trans "Lactose intolerance" %}{% endif %} <br>
          {% if kfh.form.celiac_disease.value %}{% trans "Celiac disease" %}{% endif %}</p>
      </div>
      {% endif %}

      {% if kfh.formReg.price and evt.enablePrices %}
      <div class="formgrid-item-full">
        <h5>{% trans "Price" %}</h5>
        <p>{{ kfh.formReg.price }}</p>
      </div>
      {% endif %}

      <div class="formgrid-item-full">
        <h5>{% trans "Confirmation" %}:</h5>
        {% if kfh.formReg.has_consent_terms %}
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_consent_terms.errors message=kfh.formReg.reg_consent_terms.errors type="error" small=True %}
        {{ kfh.formReg.reg_consent_terms|addclass:'form-check-input' }}
        <label class="form-check-label" for="{{ kfh.formReg.reg_consent_terms.id_for_label }}">
          {% blocktranslate with url_agb=kfh.formReg.consent_terms_url.url trimmed %}
          I agree to the partners <a href="{{ url_agb }}" target="_blank">General Terms and Conditions</a>.
          {% endblocktranslate %}*
        </label><br />
        {% endif %}
        <p>{% blocktranslate with url_privacy_policy=URL_PRIVACY_POLICY trimmed %}
          I agree to the <a href="{{ url_privacy_policy }}" target="_blank">privacy policy</a>.
          {% endblocktranslate %}
        </p>
        <p>{% blocktranslate with event_name=evt.name organizer=evt.host.name trimmed %}
          I hereby register my child / myself for event {{ event_name }} of host {{ organizer }}. Participation is binding.
          {% endblocktranslate %}
        </p>
      </div>

      <div class="formgrid-item-full">
        <input type="hidden" name="_fghash" value="{{ kfh.formHash }}" />
        <input type="hidden" name="_fgstage" value="confirm" />
        <button name="edit" type="submit" class="btn btn-primary">{% trans "Edit" %}</button>
        {% if kfh.formReg.price %}
        <button name="confirm" type="submit" class="btn btn-primary">{% trans "Confirm binding registration with costs" %}</button>
        {% else %}
        <button name="confirm" type="submit" class="btn btn-primary">{% trans "Confirm binding registration" %}</button>
        {% endif %}
      </div>
    </div>
  </form>
</section>

{% endblock %}
