{% extends "cvjm/base.html" %}
{% load i18n %}
{% load formclass %}

{% block content %}

<section>
  <div class="event-info">
    <div class="event-info-item">
      {% if evt.formIntroduction.subject %}
      <h2>{{evt.formIntroduction.subject}}</h2>
      <p>{{evt.formIntroduction.content}}</p>
      {% else %}
      <h2>{{evt.name}}</h2>
      {% endif %}
    </div>
  </div>
</section>

<section>
  {% if kfh.form.errors or kfh.formReg.errors %}
    {% trans "Error occurred during validation of registration form. Please fix and re-submit." as genericMessage %}
    {% include "cvjm/comp-alert.html" with chkdsp=True message=genericMessage type="error" %}
  {% endif %}

  {{ kfh.form.non_field_errors }}
  {{ kfh.formReg.non_field_errors }}
  <form action="{{ registerUrl }}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <div class="formgrid-container">
      <div class="formgrid-item {% if kfh.form.church.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.church.errors message=kfh.form.church.errors type="error" small=True %}
        {{ kfh.form.church|addclass:'custom-select' }}
        <label for="{{ kfh.form.church.id_for_label }}">Kirchengemeinde*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.role.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.role.errors message=kfh.form.role.errors type="error" small=True %}
        {{ kfh.form.role|addclass:'custom-select' }}
        <label for="{{ kfh.form.role.id_for_label }}">Funktion*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.first_name.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.first_name.errors message=kfh.form.first_name.errors type="error" small=True %}
        {{ kfh.form.first_name|addclass:'form-control' }}
        <label for="{{ kfh.form.first_name.id_for_label }}">Vorname*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.last_name.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.last_name.errors message=kfh.form.last_name.errors type="error" small=True %}
        {{ kfh.form.last_name|addclass:'form-control' }}
        <label for="{{ kfh.form.last_name.id_for_label }}">Nachname*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.gender.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.gender.errors message=kfh.form.gender.errors type="error" small=True %}
        {{ kfh.form.gender|addclass:'custom-select' }}
        <label for="{{ kfh.form.gender.id_for_label }}">Geschlecht*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.birthday.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.birthday.errors message=kfh.form.birthday.errors type="error" small=True %}
        {{ kfh.form.birthday|addclass:'form-control' }}
        <label for="{{ kfh.form.birthday.id_for_label }}">Geburtstag*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.street.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.street.errors message=kfh.form.street.errors type="error" small=True %}
        {{ kfh.form.street|addclass:'form-control' }}
        <label for="{{ kfh.form.street.id_for_label }}">Straße*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.house_number.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.house_number.errors message=kfh.form.house_number.errors type="error" small=True %}
        {{ kfh.form.house_number|addclass:'form-control' }}
        <label for="{{ kfh.form.house_number.id_for_label }}">Hausnummer*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.zip_code.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.zip_code.errors message=kfh.form.zip_code.errors type="error" small=True %}
        {{ kfh.form.zip_code|addclass:'form-control' }}
        <label for="{{ kfh.form.zip_code.id_for_label }}">Postleitzahl*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.city.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.city.errors message=kfh.form.city.errors type="error" small=True %}
        {{ kfh.form.city|addclass:'form-control' }}
        <label for="{{ kfh.form.city.id_for_label }}">Wohnort*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.mail_addr.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.mail_addr.errors message=kfh.form.mail_addr.errors type="error" small=True %}
        {{ kfh.form.mail_addr|addclass:'form-control' }}
        <label for="{{ kfh.form.mail_addr.id_for_label }}">E-Mail*</label>
      </div>

      <div class="formgrid-item {% if kfh.form.phone.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.phone.errors message=kfh.form.phone.errors type="error" small=True %}
        {{ kfh.form.phone|addclass:'form-control' }}
        <label for="{{ kfh.form.phone.id_for_label }}">Telefon*</label>
      </div>

      {% if evt.onSiteAttendance %}
      <div class="formgrid-textbox {% if kfh.form.intolerances.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.intolerances.errors message=kfh.form.intolerances.errors type="error" small=True %}
        {{ kfh.form.intolerances|addclass:'form-control' }}
        <label for="{{ kfh.form.intolerances.id_for_label }}">Allergien / Unvertr&auml;glichkeiten</label>
      </div>
      {% endif %}

      <div class="formgrid-textbox {% if kfh.formReg.reg_notes.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_notes.errors message=kfh.formReg.reg_notes.errors type="error" small=True %}
        {{ kfh.formReg.reg_notes|addclass:'form-control' }}
        <label for="{{ kfh.formReg.reg_notes.id_for_label }}">Sonstige Mitteilungen</label>
      </div>

      {% if evt.onSiteAttendance %}
      <div class="formgrid-item-short {% if kfh.form.nutrition.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.nutrition.errors message=kfh.form.nutrition.errors type="error" small=True %}
        {{ kfh.form.nutrition|addclass:'custom-select' }}
        <label for="{{ kfh.form.nutrition.id_for_label }}">Ern&auml;hrung*</label>
      </div>

      <div class="formgrid-item-short {% if kfh.form.lactose_intolerance.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.lactose_intolerance.errors message=kfh.form.lactose_intolerance.errors type="error" small=True %}
        {{ kfh.form.lactose_intolerance|addclass:'form-check-input' }}
        <label class="form-check-label" for="{{ kfh.form.lactose_intolerance.id_for_label }}">Laktoseintoleranz</label>
      </div>

      <div class="formgrid-item-short {% if kfh.form.celiac_disease.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.form.celiac_disease.errors message=kfh.form.celiac_disease.errors type="error" small=True %}
        {{ kfh.form.celiac_disease|addclass:'form-check-input' }}
        <label class="form-check-label" for="{{ kfh.form.celiac_disease.id_for_label }}">Z&ouml;liakie</label>
      </div>
      {% endif %}

      {% if evt.requireDocuments %}
      <div class="formgrid-upload {% if kfh.formReg.reg_doc_consent.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_doc_consent.errors message=kfh.formReg.reg_doc_consent.errors type="error" small=True %}
        {{ kfh.formReg.reg_doc_consent|addclass:'custom-file-input' }}
        <label for="{{ kfh.formReg.reg_doc_consent.id_for_label }}" class="custom-file-label">Anmeldung Freizeit*
          (Einladung & Anmeldung
          Konfi-Castle aus dem Konfirmationsunterricht)</label>
      </div>

      <div class="formgrid-upload {% if kfh.formReg.reg_doc_pass.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_doc_pass.errors message=kfh.formReg.reg_doc_pass.errors type="error" small=True %}
        {{ kfh.formReg.reg_doc_pass|addclass:'custom-file-input' }}
        <label for="{{ kfh.formReg.reg_doc_pass.id_for_label }}" class="custom-file-label">Freizeitpass*</label>
      </div>
      
      {% if evt.onSiteAttendance %}
      <div class="formgrid-upload {% if kfh.formReg.reg_doc_meddispense.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_doc_meddispense.errors message=kfh.formReg.reg_doc_meddispense.errors type="error" small=True %}
        {{ kfh.formReg.reg_doc_meddispense|addclass:'custom-file-input' }}
        <label for="{{ kfh.formReg.reg_doc_meddispense.id_for_label }}"
          class="custom-file-label">Medikamentenabgabe</label>
      </div>
      {% endif %}
      {% endif %}

      <div class="formgrid-item-full {% if kfh.formReg.reg_consent.errors %}form-field-error{% endif %}">
        {% include "cvjm/comp-alert.html" with chkdsp=kfh.formReg.reg_consent.errors message=kfh.formReg.reg_consent.errors type="error" small=True %}
        {{ kfh.formReg.reg_consent|addclass:'form-check-input' }}
        <label class="form-check-label" for="{{ kfh.formReg.reg_consent.id_for_label }}">
          Hiermit melde ich mein Kind / mich zu Konfi-Castle im CVJM Kreisverband
          Rhein-Lahn e. V. an. Die Teilnahme ist damit verbindlich.*
        </label>
      </div>

      <div class="formgrid-item-full">
        <input type="hidden" name="_fghash" value="{{ kfh.formHash }}" />
        <input type="hidden" name="_fgstage" value="preview" />
        <button name="register" type="submit" class="btn btn-primary">{% trans "Register" %}</button>
      </div>
    </div>
  </form>
</section>

{% endblock %}